*

!**/*.md
!**/*.txt
!**/*.pdf
!**/*.png
!**/*.jpg
!**/*.jpeg
!**/*.docx

!.gitignore

!README.md

!Assignment01/
!Assignment01/README.md

!Assignment02/
!Assignment02/README.md

!Assignment03/
!Assignment03/README.md

!Assignment04/
!Assignment04/README.md
